fastapi==0.135.2
uvicorn==0.42.0
sqlalchemy==2.0.48
requests==2.32.3
pydantic==2.12.5
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
scikit-learn==1.8.0
pandas==3.0.1
numpy==2.4.4
websockets==16.0
python-multipart==0.0.22
email-validator==2.3.0
psutil==7.2.2
watchdog==6.0.0
pyudev==0.24.3; platform_system=="Linux"
